fail_fast: true
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.9.0
    hooks:
      - id: black
        language_version: python3 # Should be a command that runs python3.6+
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.16.2
    hooks:
      - id: zizmor