language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.5-dev" # 3.5 development branch
  - "3.6"
  - "3.6-dev" # 3.6 development branch
  - "3.7-dev" # 3.7 development branch
  - "nightly" # currently points to 3.7-dev
# command to install dependencies
before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y gfortran-6
install: 
  - pip install -r requirements.txt
  - "python setup.py install"
# command to run tests
script: 
  - "python setup.py test"
