name: Coveralls
on: [push, pull_request]

jobs:
  CI:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        fortran-compiler:  [gfortran-12]
        python-version: ['3.11']
    env:
      FC: ${{ matrix.fortran-compiler }}
      CC: gcc

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'

    - name: gfortran-12 setup compiler
      if: contains(matrix.fortran-compiler, 'gfortran-12')
      run: |
        sudo apt-get install gfortran-12

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install  pytest coveralls
        pip install -r requirements.txt

    - name: Run coveralls
      env: 
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        pip install .
        coverage run --source=gfort2py -m pytest tests/
        coveralls --service=github

