name: Zenodo validator
on: [push, pull_request]

jobs:
  zenodo:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 
        uses: actions/setup-python@v5
        with:
          python-version:
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install check-jsonschema
  
        # From https://github.com/zenodraft/metadata-schema-zenodo/blob/main/schema.json
      - name: Test
        run: 
            check-jsonschema --schemafile .github/workflows/zenodo.schema .zenodo.json

